*, ::after, ::before {
    box-sizing: border-box;
}

/*Variables*/
$font-color: #343434;
$yellow: #faff00;

/*Général*/
html{
    font-size: 16px;

}

body{
    position: relative;
    font-family: 'Hind', sans-serif;
    color: $font-color;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

/*nav*/
.vertical-menu {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    mix-blend-mode: difference;    

    .main-navigation, .social-networks{
        display: inline-block;
        writing-mode: vertical-rl;
        transform-origin: left center;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        transition: background-color 0.3s;

        .menu-item{
            color: white;
            text-decoration: none;
            padding: 15px 5px;
            
        }

        .menu-item:hover {
            font-weight: 900;
        }
    }
}

/*Intro*/
#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100vh;
    background-image: url("../images/background_images/pawel-czerwinski--xplyw_wkRs-unsplash-1080.jpg");

    .myname{
        position: relative;
        padding-bottom: 15px;
        font-family: 'Chakra Petch', sans-serif;
        font-weight: 900;
        font-size: 2rem;
        word-wrap: break-word;
        text-transform: uppercase;
        letter-spacing: 15px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: white;
    }

    .container-fluid{
        padding: 0 3rem;
    }

    .myname:after{
        content:'';
        width: 45%;
        height: 15px;
        background: $yellow;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .intro-main-description{
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 1.5rem;
    }

    .secondary-description{
        padding-top: 2rem;
        color: white;
    }

    .line{
        display: block;
        position: absolute;
        width: 25%;
        max-width: 200px;
        height: 1px;
        background: white;
    }

    .line:nth-child(1){
        top: 35px;
        left: 15px;
    }

    .line:nth-child(2){
        top: 15px;
        left: 35px;
        transform-origin: 0% 0%;
        transform: rotate(90deg);
    }

    .line:nth-child(3){
        bottom: 35px;
        left: 15px;
    }

    .line:nth-child(4){
        bottom: 15px;
        left: 35px;
        transform-origin: 0% 0%;
        transform: rotate(-90deg);
    }

}

#projects, #skills, #contact{
    height: 500px;
    padding: 60px 0;
}