/* raleway-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Raleway/static/Raleway-Black.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* montserrat-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Montserrat/static/Montserrat-Black.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }

/* montserrat-900italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/Montserrat/static/Montserrat-BlackItalic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* hind-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hind';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Hind/Hind-Light.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* hind-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Hind/Hind-Bold.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

*, ::after, ::before {
    box-sizing: border-box;
}

/*Variables*/
$font-color: #343434;
$yellow: #faff00;
$lightgrey: #e8e8e8;
$bodybackground-color: #faf7ef;

/*Général*/
html{
    font-size: 16px;
}

body{
    position: relative;
    font-family: 'Hind', sans-serif;
    line-height: 1.6rem;
    color: $font-color;
    background-color: $bodybackground-color;
    background-image: url("../images/background_images/pattern.svg");
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-bottom: 2rem;
}

#projects, #skills, #contact{
    padding: 2rem 0;
}

/*nav*/
.menu-burger{
    padding: 16px 8px;
    position: fixed;
    top: 35px;
    right: 0;
    z-index: 2;
    cursor: pointer;
    background: $font-color;
    height: 40px;
    width: 40px;
}

.menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    height: 0;
    width: 100vw;
    background: $font-color;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    z-index: 1;
    overflow: hidden;
    font-family: 'Montserrat';
    font-style: italic;
    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-items li{
    display: flex;
}

.menu-items a{
    color: $bodybackground-color;
    font-size: 22px;
    text-decoration: none;
    margin: 0 10px;
    padding: 20px 0;
    transition: opacity 0.2s ease-in-out;
}

.menu-items a:hover{
    color: orangered;
}

.menu-items .social-networks{
    display: flex;
    border-top: 5px solid $bodybackground-color;
    margin-top: 1rem;
    padding: 2rem;
}

.menu-burger span{
    display: block;
    width: 23px;
    height: 2px;
    border-radius: 4px;
    background: $bodybackground-color;
    -webkit-transition: 0.3s;
    transition: all 0.3s;
    position: relative;
    opacity: 1;
}

.menu-burger span:nth-child(1){
    top: 9px;
}

.menu-burger span:nth-child(3) {
    bottom: 9px;
}

.menu-burger.active span:nth-child(2){
    opacity: 0;
    width: 0%;
}

.menu-burger.active span:nth-child(1){
    transform: rotate(45deg);
    top: 2px;
}

.menu-burger.active span:nth-child(3){
    transform: rotate(-45deg);
    bottom: 2px
}

.menu-items.active{
    overflow: hidden;
    height: 100vh;
}

body.menu-open{
    overflow-y: hidden;
}

.vertical-menu{
    display: none;
}

/*Intro*/
#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    background-image: url("../images/background_images/pawel-czerwinski-6zgHMnCSTuw-unsplash.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .fullname{
        text-align: center;
        color: $bodybackground-color;
        font-size: calc(1rem + 9vw);
    }

    .myname{
        position: relative;
        width: fit-content;
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        word-wrap: break-word;
        text-transform: uppercase;
        letter-spacing: 15px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: $bodybackground-color;
    }

    .container-fluid{
        padding: 0 3rem;
    }

    .myname:after{
        content:'';
        width: 45%;
        height: 15px;
        background: $yellow;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .intro-main-description{
        font-family: 'Montserrat', sans-serif;
        color: $bodybackground-color;
        font-size: 1.5rem;
    }

    .secondary-description{
        padding-top: 2rem;
        font-size: 1.5rem;
        text-align: center;
        color: $bodybackground-color;

        a{
            color: $bodybackground-color;
            text-decoration: none;
            border-bottom: 1px solid $bodybackground-color;
            transition: all 1s ease-in-out;
        }

        a:hover{
            font-weight: 700;
        }
    }

    .line{
        display: block;
        position: absolute;
        width: 25%;
        max-width: 200px;
        height: 1px;
        background: $bodybackground-color;
    }

    .line:nth-child(1){
        top: 35px;
        left: 15px;
    }

    .line:nth-child(2){
        top: 15px;
        left: 35px;
        transform-origin: 0% 0%;
        transform: rotate(90deg);
    }

    .line:nth-child(3){
        bottom: 35px;
        left: 15px;
    }

    .line:nth-child(4){
        bottom: 15px;
        left: 35px;
        transform-origin: 0% 0%;
        transform: rotate(-90deg);
    }

}

/*About me*/
#skills{
    h3{
        margin-bottom: 1rem;
    }

    p{
        margin-bottom: 3rem;
    }
}
.moi-about-me{
    text-transform: uppercase;
    letter-spacing: 17px;
    font-style: italic;
    text-shadow: 3px 3px 0px #c7c7c7;
    color: #ff4500;
}


/*Projects*/
.project{
    margin-top: 5rem;
    margin-bottom: 5rem;

    h3{
        margin: 2rem 0 1rem 0;
    }

    .image-project-container{
        border-radius: 20px;
        object-fit: cover;
        box-shadow: 0px 0px 20px -10px #000;
    
        img{
            width: 100%;
            height: auto;
        }
    
    }

    .perso-link{
        display: block;
        position: relative;
        overflow: hidden;
        text-align: center;
        margin-top: 1rem;
        letter-spacing: 5px;
        padding: 5px 20px;
        color: orangered;
        font-weight: bold;
        line-height: 1rem;
        text-transform: uppercase;
        text-decoration: none;
        border: 2px solid orangered;
        transition: all 0.5s ease-in-out;
    }

    .perso-link::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: orangered;
        transition: all 0.5s ease-in-out;
        z-index: -1;
      }
    
      .perso-link:hover::before {
        left: 0;
      }

      .perso-link:hover{
        color: $bodybackground-color;
      }

}

.projects-selected-proj{
    text-transform: uppercase;
    letter-spacing: 17px;
    font-style: italic;
    text-shadow: 3px 3px 0px #c7c7c7;
    color: #ff4500;
}

#projects .row:nth-child(2){

    margin-top: 1rem;

    .image-project-container{
        background: #70a0af;
    }

}

#projects .row:nth-child(3) .image-project-container{
    background: #a0c1b9;
}

#projects .row:nth-child(4){

    margin-bottom: 1rem;

    .image-project-container{

        background: #f4e8c1;
    }

}

/*Contact*/
.contact-content{
    /*background-image: url("../images/pattern/pattern.svg");*/
    background-position: center;
    padding: 6rem 0;
}

.conversation-contact{
    color: orangered;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-style: italic;
    animation: conversation 1.5s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%) 0s infinite alternate
}

@keyframes conversation {
    from { letter-spacing: 3px;}
    to { letter-spacing: 7px;}
  }

  #contact a {
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: $font-color;
    font-size: 1.2rem;
  }

  /*footer*/
  #footer{
    border-top: 3px solid $lightgrey;
    text-align: center;
    padding: 2rem 0;
    letter-spacing: 5px;
    /*background-image: url(../images/background_images/pawel-czerwinski-6zgHMnCSTuw-unsplash.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    font-family: 'Montserrat', sans-serif;
    background: #faf7ef;
    color: $font-color;
    font-weight: 700;
    font-size: 1.2rem;
  }


    /*Desktop*/
    @media (width >= 992px) {
        h2{
            margin-bottom: 5rem;
        }       
        #projects, #skills, #contact{
            padding: 4rem 0;
        }       
        /*Nav*/
        .mobile-menu{
            display: none;
        }

        .vertical-menu {
            position: fixed;
            z-index: 1;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: #343434;
        
            .main-navigation, .social-networks{
                display: flex;
                align-items: center;
                writing-mode: vertical-rl;
                transform-origin: left center;
                text-decoration: none;
            
                .cercle{
                    width: 20px;
                    height: 20px;
                    border-radius: 20px;
                    border: 2px solid $bodybackground-color;
                }
            
                .menu-item{
                    color: $bodybackground-color;
                    text-decoration: none;
                    padding: 15px 5px;

                }
            
                .menu-item:hover {
                    font-weight: 900;
                }
            }
        }       
        /*Intro*/
             
        /*Projects*/
        .project{
            margin-top: 10rem;
            margin-bottom: 10rem;
            h3{
                margin: 0 0 1rem 0;
            }       
            .col-12{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }       
            .image-project-container{
                max-width: 550px;
                max-height: 350px;
            }       
            a{
                margin-top: 1rem;
                width: fit-content;
            }
        }

    }
